body {
  background-color: rgb(176, 124, 189);
  margin: 0px;
  font-family: 'Lobster', cursive;
}

* {
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}
.game-home-page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-title {
  font-size: 58px;
  font-weight: 600;
  color: rgb(141, 16, 53);
  text-align: center;
  padding-bottom: 1%;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  border-radius: 1rem;
  border: 1px solid rgb(66, 66, 65);
  color: rgb(37, 63, 29);
  font-size: 22px;
  padding: 10px 30px 10px 30px;
}

button:hover {
  cursor: pointer;
  background-color: aqua;
  color: rgb(3, 3, 82);
}

#game {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1%;
}

.game-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 6%;
  padding-top: 1%;
  padding-bottom: 0.6%;
}

h3 {
  color: rgb(0, 2, 6);
  font-size: 26px;
  color: rgb(242, 245, 246);
}

.gameCard {
  border: 1px solid rgb(14, 13, 13);
  width: 15%;
  height: 21.3%;
  border-radius: 10%;
  margin: 0.6%;
  display: flex;
  flex-grow: 1;
}

.gameCard:hover {
  position: relative;
  cursor: pointer;
  margin-top: -0.2%;
}

.flipCount {
  justify-content: center !important;
  align-items: center !important;
}

.count {
  font-size: 48px;
  font-weight: 600;
  font-family: sans-serif;
}

.gameCompletedStatus {
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('gameResultBG.jpg');
  background-size: cover;
  background-position: center;
}

.successMsg {
  width: 40%;
  font-size: 40px;
  color: rgb(0, 9, 9);
  line-height: 2;
  text-align: center;
  background-color: rgb(154, 235, 220);
  padding: 2%;
  border-radius: 1rem;

}

.button-container {
  margin: 5%;
  padding: 5%;
  display: flex;
  width: 40%;
  justify-content: center;
  /* background-color: rgb(154, 235, 220); */
  border-radius: 1rem;
}

.btn-margin {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 42px;
}

@media (max-width:767px) {
  button {
    font-size: 16px;
    padding: 5px 15px 5px 15px;
  }

  h3 {
    font-size: 16px;
    text-align: center;
  }

  .gameCard {
    width: 20%;
    height: 14.5%;
    border-radius: 15%;
    margin: 0.5%;
  }

  .gameCompletedStatus {
    justify-content: flex-start;
    padding-top: 45%;
  }

  .successMsg {
    width: 70%;
    font-size: 32px;
  }

  .button-container {
    width: 70%;
  }

  .btn-margin {
    font-size: 24px;
  }
}

@media (max-width:1024px) {
  .btn-margin {
    font-size: 32px;
  }
}